<form method="get">
  <input name="keywords" value="<%= params[:keywords] %>" placeholder="search keywords">
  <input name="location" value="<%= params[:location] %>" placeholder="search location">
  <button class="button">Search</button>
</form>
